body {
  background-color: lightblue;
}

.pageTitle {
  display: flex;
  flex-direction: column;
  font-size: 2em;
}

.todaysDate {
  display: flex;
justify-content: center;
align-items: center;
}

.title {
display: flex;
justify-content: center;
align-items: center;
}

#locationTextBox {
  display: flex;
  padding: 0px 80px 0px 0px;
}

#locationSearch {
  display: flex;
  padding: 0px 200px 0px 0px;
  margin-bottom: 100px;
}

.locationHistoryEl {
  display: flex;

}






